.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.category {
  list-style-type: none;
  margin-left: -40px;
}
.rating {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: -40px;
}

.img {
  width: 200px;
}
.rating-heading {
  color: #64748b;
}
